<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Transfer Guide</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
</head>

<body class="d-flex flex-column" style="height: 100vh">
	<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
		<div class="container-fluid px-5 py-3">
			<a class="navbar-brand ms-5 fs-3" href="#">Transfer Guide</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end me-5" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item mx-4">
						<a class="nav-link" href="#">Dashboard</a>
					</li>
					<li class="nav-item mx-4">
						<a class="nav-link" href="#">Make a Request</a>
					</li>
					<li class="nav-item ms-4">
						<a class="nav-link" href="#">Past Requests</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<nav class="d-flex justify-content-center mt-3 border-2">
		<div class="nav nav-tabs w-75 justify-content-center" id="nav-tab" role="tablist">
			<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
				type="button" role="tab" aria-controls="nav-home" aria-selected="true">UVA to Other</button>
			<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
				type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Other to UVA</button>
		</div>
	</nav>
	<div class="tab-content d-flex justify-content-center mt-4" id="nav-tabContent">
		<div class="tab-pane fade show active w-100" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
			tabindex="0">
			<form class="container-fluid d-flex flex-column align-items-center justify-content-center mt-3">
				<div class="row w-100 g-3 justify-content-center align-items-center my-1">
					<div class="col-6 text-end">
						<label for="uva-department">UVA Department:</label>
					</div>
					<div class="col-2 me-auto">
						<input type="text" class="form-control" id="uva-department" placeholder="CS" />
					</div>
				</div>
				<div class="row w-100 g-3 justify-content-center align-items-center my-1">
					<div class="col-6 text-end">
						<label for="uva-course-num">UVA Course Number:</label>
					</div>
					<div class="col-2 me-auto">
						<input type="text" class="form-control" id="uva-course-num" placeholder="3240" />
					</div>
				</div>
				<div class="row w-100 g-3 justify-content-center align-items-center my-1">
					<div class="col-6 text-end">
						<label for="uva-course-name">UVA Course Name:</label>
					</div>
					<div class="col-2 me-auto">
						<input type="text" class="form-control" id="uva-course-name"
							placeholder="Advanced Software Development" />
					</div>
				</div>
				<div class="row w-100 g-3 justify-content-center align-items-center my-1">
					<div class="col-6 text-end">
						<label for="other-school">Other School:</label>
					</div>
					<div class="col-2 me-auto">
						<input type="text" class="form-control" id="other-school" placeholder="Cornell University" />
					</div>
				</div>
				<button type="submit" class="btn btn-primary mt-4">Submit</button>
			</form>
		</div>
		<div class="tab-pane fade show w-100" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
			tabindex="0">
			<form class="container-fluid d-flex flex-column align-items-center justify-content-center mt-3">
				<div class="row w-100 g-3 justify-content-center align-items-center my-1">
					<div class="col-6 text-end">
						<label for="other-school">Other School:</label>
					</div>
					<div class="col-2 me-auto">
						<input type="text" class="form-control" id="other-school" placeholder="Cornell" />
					</div>
				</div>
				<div class="row w-100 g-3 justify-content-center align-items-center my-1">
					<div class="col-6 text-end">
						<label for="other-department">Other Department:</label>
					</div>
					<div class="col-2 me-auto">
						<input type="text" class="form-control" id="other-department" placeholder="CES" />
					</div>
				</div>
				<div class="row w-100 g-3 justify-content-center align-items-center my-1">
					<div class="col-6 text-end">
						<label for="other-course-num">Other Course Number:</label>
					</div>
					<div class="col-2 me-auto">
						<input type="text" class="form-control" id="other-course-num" placeholder="303" />
					</div>
				</div>
				<div class="row w-100 g-3 justify-content-center align-items-center my-1">
					<div class="col-6 text-end">
						<label for="other-course-name">Other Course Name:</label>
					</div>
					<div class="col-2 me-auto">
						<input type="text" class="form-control" id="other-course-name"
							placeholder="Software Engineering" />
					</div>
				</div>
				<button type="submit" class="btn btn-primary mt-4">Submit</button>
			</form>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>
</body>

</html>