{% extends "socialaccount/base.html" %}
{% load i18n %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock %}
{% block content %}
    <div class="container-fluid d-flex flex-column align-items-center pt-3">
        {% if process == "connect" %}
            <h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>
            <p>
                {% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}
            </p>
        {% else %}
            <h1 class="display-4"> Welcome to our Transfer Guide Site!</h1>
            <h1>{% blocktrans with provider.name as provider %}Log In With Google{% endblocktrans %}</h1>
            {% comment %} <p>
                {% blocktrans with provider.name as provider %}Sign in via Google to access the site.{% endblocktrans %}
            </p> {% endcomment %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <button class = "btn btn-primary mt-2" type="submit">Sign In</button>
        </form>
    </div>
{% endblock %}
