{% extends "socialaccount/base.html" %}
{% load socialaccount %}

{% block head_title %}
    Transfer Guide | Index
{% endblock %}
{% block content %}
    <div class="container-fluid flex-fill d-flex justify-content-center align-items-center">
        <div class="w-25 h-50 d-flex flex-column align-items-center rounded-5 bg-dark-subtle p-5">
            <h2>Transfer Guide Login</h2>
            <div class="d-flex flex-fill justify-content-center align-items-center">
                <a href="{% provider_login_url 'google' %}"
                   role="button"
                   class="btn btn-outline-primary">Login with Google</a>
            </div>
        </div>
    </div>
{% endblock content %}
